:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--clr-darkest);
  color: var(--clr-lightest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap-bg: 4rem;
  --gap-md: 2rem;
  --gap-sm: 0.5rem;

  --padding-small: 0.5rem;
  --padding-medium: 1.5rem;
  --padding-medium2: 3rem;
  --padding-large: 6rem;

  --border-radius: 0.5rem;
  --line-height: 1.8;

  --clr-lightest: hsl(0, 0%, 93.33%);
  --clr-light: hsl(0, 0%, 66.67%);
  --clr-medium: hsl(0, 0%, 40%);
  --clr-dark: hsl(0, 0%, 20%);
  --clr-darker: hsl(0, 0%, 13.33%);
  --clr-darkest: hsl(0, 0%, 10.98%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------generic-------------------------------- */
.icon {
  height: 28px;
  width: 28px;
  color: var(--clr-light);
}

/* ----------------------------------------------full wrapper-------------------------------- */
#full-wrapper {
  display: flex;
}

/* ----------------------------------------------scrollbar-------------------------------- */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-light) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}
/* ----------------------------------------------nav-------------------------------- */

#nav-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--gap-sm);
  flex: 0.5;
  position: relative;
}

nav {
  display: grid;
  gap: var(--gap-sm);
}

.name-title-wrapper h4 {
  font-weight: 300;
  letter-spacing: 0.5ch;
}

.inner-nav {
  padding-left: 1rem;
}

.nav-bottom-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--padding-small);
}

.nav-bottom-wrapper-inner {
  display: flex;
  flex: 1;
}

.resume-cv-wrapper {
  display: flex;
  margin-block: var(--padding-medium);
}

.resume-cv-wrapper button {
  background: var(--clr-dark);
  padding: 0.4rem;
  border-radius: var(--border-radius);
  border: none;

  color: var(--clr-light);
}
/* ----------------------------------------------feed-------------------------------- */

#feed {
  overflow-y: scroll;
  display: grid;
  flex: 3;
  height: 100svh;
  line-height: var(--line-height);
  letter-spacing: 0.025ch;
}

/* #feed > * {
  max-width: 45rem;
} */

/* ----------------------------------------------home-------------------------------- */

.home-wrapper {
  height: 60svh;
  background-color: var(--clr-darker);
}

.home-wrapper svg {
  height: inherit;
  width: 100%;
}
/* ----------------------------------------------about-------------------------------- */

.about-wrapper {
  display: grid;
  gap: var(--gap-md);
  text-wrap: pretty;
}

.about-me {
  display: flex;
  gap: var(--gap-sm);
}
.about-span {
  text-wrap: pretty;
  /* max-width: 30rem; */
  background-color: var(--clr-darker);
  border-radius: 0.5rem;
}

#headshot-img {
  border-radius: var(--border-radius);
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  display: flex;
  flex: 0.5;
}

/* ----------------bio------------------ */

/* ----------------education------------------ */
.education-wrapper {
  display: flex;
  flex-direction: column;
}

.education {
  display: flex;
  gap: var(--gap-sm);
}

.education-item {
  padding: var(--padding-medium);
  background-color: var(--clr-darker);
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: left;
}

.education-info-wrapper p:not(.education-type) {
  color: var(--clr-light);
}
.education-type {
  /* font-size: large; */
  font-weight: 700;
  color: var(--clr-lightest);
}

/* ----------------skills------------------ */
.skills-wrapper {
  display: grid;
  gap: var(--gap-sm);

  h5 {
    text-align: center;
    padding-top: var(--padding-small);
    opacity: 75%;
    /* text-decoration: underline; */
    letter-spacing: 1ch;
    font-weight: 200;
  }
}

.skills-wrapper li {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-block: var(--padding-small);
  flex-direction: column;
  border: 1px solid var(--clr-darkest);
  background-color: var(--clr-darker);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-sm);
  padding-top: var(--padding-small);
}

.skills-wrapper li .skill-icon {
  height: 36px;
  width: 36px;
}
.skills-wrapper li p {
  flex: 1;
  color: var(--clr-lightest);
}

/* ----------------------------------------------projects-------------------------------- */

.projects-list {
  display: grid;
  gap: var(--gap-bg);
}

.project-card img {
  width: 100%;
  border-radius: var(--border-radius);
}

.project-card h3 {
  font-size: x-large;
}

.project-card h4 {
  opacity: 50%;
  font-weight: 300;
}

.project-card hr {
  margin-block: var(--padding-small);
  /* margin-right: var(--padding-large); */
}

.project-description {
  display: block;
  /* max-width: 32rem; */
  padding-block: var(--padding-small);
  text-wrap: pretty;
}

.project-text-wrapper {
  border: 1px solid var(--clr-darkest);
  background-color: var(--clr-darker);
  padding: var(--padding-medium);
}

.more-info-wrapper button {
  color: var(--clr-light);
  display: flex;
  background: transparent;
  opacity: 80%;
  padding-block: var(--padding-small);
  border: none;
  border-radius: var(--border-radius);
  font-size: small;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.more-info-wrapper button:hover {
  color: var(--clr-lightest);
}
.project-link-wrapper {
  display: flex;
  gap: var(--gap-md);
  padding-top: var(--padding-small);
}

.project-link-wrapper a:hover {
  outline: 1px solid var(--clr-lightest);
}

.project-link-wrapper a {
  color: var(--clr-light);
  background: var(--clr-darker);
  padding: 0.15rem 0.5rem;
  border-radius: var(--border-radius);
}

/* ----------------------------------------------contact-------------------------------- */

.contact-links-wrapper {
  display: flex;
  /* color: var(--clr-light); */
  /* margin-bottom: var(--gap-bg); */
  gap: var(--gap-sm);
  flex: 2;
  justify-content: flex-end;
}

.colorThemeToggle {
  flex: 1;
}

.contact-links-wrapper h5 {
  display: none;
}

.contact-links-wrapper button {
  border-radius: var(--border-radius);
  display: flex;

  aspect-ratio: 1;
  outline: none;
  border: none;
  background: transparent;
}

.contact-links-wrapper > #icon {
  scale: 2;
}

.contact-links-wrapper .social-item {
  width: fit-content;
  height: fit-content;
}
/* ----------------------------------------------feed contact-------------------------------- */

#feed .contact-links-wrapper {
  justify-content: space-between;
  padding-block: var(--padding-medium);
  font-size: large;
  border-radius: var(--border-radius);
  gap: var(--gap-bg);
  margin-bottom: var(--gap-bg);
}
#feed .contact-links-wrapper h5 {
  display: flex;
  font-size: large;
}
#feed .contact-links-wrapper .social-item {
  display: flex;
  place-content: center;
  place-items: center;
  gap: var(--gap-sm);
}
#feed > #icon {
  padding: 15rem;
  height: 24rem;
  width: 24rem;
}
